.toaster-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .toaster-container.show {
    opacity: 1;
    visibility: visible;
  }
  
  .toaster {
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    z-index: 1000;
  }
  
  .success {
    background-color: #28a745;
    border-color: black;
    
  }
  
  .error {
    background-color: #dc3545;
  }
  
  .toast-content {
    text-align: center;
  }
  