/* input{
    padding: 15px;
    margin: 10px;
    width: 25vw;
}

label{
    margin-right: 75px;
    font-size: 20px;
}

#add{
    width: 150px;
    font-size: medium;
    background-color: #4AEF3C;
    border-radius: 8px;
    color: white;
    border: none;
    margin: 50px;
    cursor: pointer;
   

}
#add:hover{
  opacity: 80%;
}

#update{
    background-color: rgb(30, 30, 244);
    color:white;
    font-size: medium;
    border: none;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: 2px;

}

#delete{
    background-color: rgb(248, 55, 55);
    color:white;
    font-size: medium;
    border: none;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: 2px;

}




table {
    
    border-collapse: collapse;
    width:500px;
  }
  
  td, th {
    border: 1px solid black;
    width: 10px;
    
    padding: 8px;
  }
  th{
    background-color: whitesmoke;
    text-align: center;
  }
  td{
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  } */
