@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
}

body, html {
    height: 100%;
    margin: 0;
}


/*-------------------- Login Container -----------------------*/

.login-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(38, 2, 97, 0.92);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease; 
    position: relative;
}

.login-container .login-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-container .overlay-background {
    background-color: rgba(78, 2, 97, 0.3);
    width: 100%;
    height: 100vh;
}

.login-container .form-container-wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.login-container .form-container {
    width: 50%;
    height: 100vh;
    background-color: rgb(38, 2, 97, 0.92);
    display: flex;
    align-items: center;
}

.login-container .form-container form {
    width: 500px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.login-container .form-container h3 {
    text-align: center;
    margin-bottom: 30px;
    cursor: default;
    font-size: 30px;
}

.login-container .form-container form .input-label {
    font-size: 16px;
    padding-bottom: 10px;
    display: block;
}

.login-container .form-container form input {
    width: 100%;
    height: 40px;
    display: block;
    padding: 0px 10px;
    font-family: 'Ubuntu', sans-serif;
}

.login-container .form-container form label {
    margin-top: 5px;
    margin-bottom: 30px;
    color: red;
    display: block;
    font-size: 12px;
}

.login-container .form-container form button {
    width: 100%;
    height: 40px;
    border: 0;
    background-color: rgb(220, 20, 60);
    border-radius: 5px;
    color: #FFFFFF;
    margin-top: 40px;
    transition: 0.5s ease;
    cursor: pointer;
}

.login-container .form-container form button:hover {
    background-color: rgb(220, 20, 60, 0.8);
}

/*-------------------- Home Container -----------------------*/

.master-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
  
.sidepanel-container {
    height: 100vh;
    background-color: #260261;
    color: white;
    transition: 0.5s ease;
}

.sidepanel-container .header {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidepanel-container button {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #260261;
    border: 2px solid #260261;
    border-radius: 5px;
    cursor: pointer;
}

.sidepanel-container button:hover {
    background-color: #4d1b9d;
}

.sidepanel-container img {
    width: 26px;
    height: 26px;
}

.sidepanel-container .body {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px;
}

.sidepanel-container .body button {
    width: 40px;
    height: 40px;
    margin: 15px 0px;
}

.sidepanel-container .expanded .body  {
    overflow-y: auto;
}

.sidepanel-container .expanded .body button {
    width: 220px;
    margin: 15px 0px;
    padding: 5px 20px;
}

.sidepanel-container .expanded .body button img {
    transition: transform 0.3s ease;
}

.sidepanel-container .expanded .body button img.rotate {
    transform: rotate(90deg);
}

.sidepanel-container .expanded .body span {
    width: 120px;
    color: white;
    display: inline-block;
    text-align: left;
    margin-left: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.sidepanel-container .expanded .body .subCategory {
    display: none;
}

.sidepanel-container .expanded .body .subCategory.visible {
    display: block;
}

.sidepanel-container .expanded .body .subCategory button {
    margin: 5px 0px;
}

.sidepanel-container .expanded .body .subCategory button:hover {
    background-color: #7e3ee3;
}

.sidepanel-container .expanded .body .subCategory img {
    width: 14px;
    height: 14px;
}

.side-menu button {
    width: 160px;
    background-color: transparent;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
}

.modal-overlays {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
}
  
.modal-content {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    cursor: auto;
    z-index: 1000;
}
.modal-contents {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    cursor: auto;
    z-index: 1000;
}
  
.main-container {
    flex: 80%;
    height: 100vh;
    color: black;
}

.header-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 0px 20px;
    z-index: 99;
}

.header-container .header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
}
  
.header-container .header img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
  
.header-container .header .left {
    display: flex;
    align-items: center;
    font-family: 'Merriweather', serif;
}
  
.header-container .header .middle {
    flex: 1;
}
  
.header-container .header .right {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.header-container .header .right button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding-right: 15px;
    border-right: 2px solid grey;
    display: flex;
    align-items: center;
}

.header-container .header .right button img {
    width: 10px;
    height: 8px;
}

.header-container .header .right button img:hover {
    transform: scale(1);
}

.header-container .header .right span {
    display: inline-block;
}

.header-container .header .right .text-container {
    padding-left: 10px;
    font-family: 'ubuntu', serif;
    text-align: left;
}

.header-container .header .right .text-container .uname-text {
    font-weight: bold;
    font-size: 15px;
}

.header-container .header .right .text-container .type-text {
    font-size: 12px;
}
  
.header-container .header .right img {
    margin-left: 10px;
}

.header-container .header .right img:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.settings-menu button {
    padding: 0;
    margin: 0;
    border: 0;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.settings-menu button img {
    width: 18px;
    height: 18px;
}

.settings-menu button span {
    width: 120px;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.body-container {
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #FFFFFF;
}

/*-------------------- Dashboard Container -----------------------*/

.body-container .dashboard-container {
    width: 100%;
    padding: 10px;
}

.body-container .dashboard-container .row-container1 {
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
}

.body-container .dashboard-container .row-container1 #b1 {
    background-color: #55B4B0;
}

.body-container .dashboard-container .row-container1 #b2 {
    background-color: #D2386C;
}

.body-container .dashboard-container .row-container1 #b3 {
    background-color: #926AA6;
}

.body-container .dashboard-container .row-container1 #b4 {
    background-color: #FF6F61;
}

.body-container .dashboard-container .row-container1 .box {
    width: 280px;
    padding: 20px;
    border-radius: 5px;
    color: whitesmoke;
    margin: 0px 10px;
}

.body-container .dashboard-container .row-container1 .box .r1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.body-container .dashboard-container .row-container1 .box .r2, .r3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    height: 32px;
}

.body-container .dashboard-container .row-container1 .box .r2 img {
    height: 24px;
    width: 24px;
}

.body-container .dashboard-container .row-container1 .box .r2 .c2 {
    font-size: 26px;
}

.body-container .dashboard-container .row-container1 .box .r3 .c2 {
    text-align: right;
}

.body-container .dashboard-container .row-container2 {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;
}

.body-container .dashboard-container .row-container2 .column-container1 {
    width: 60%;
}

.body-container .dashboard-container .row-container2 .column-container1 .r1 {
    background-color: #f3f3f3;
    padding: 10px;
    margin-right: 5px;
}

.body-container .dashboard-container .row-container2 .column-container1 .r2 {
    background-color: #f3f3f3;
    padding: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

.body-container .dashboard-container .row-container2 .column-container2 {
    width: 40%;
    background-color: #f3f3f3;
    padding: 10px;
    margin-left: 5px;
}

.body-container .dashboard-container .row-container2 .column-container1 .r1 .c1, .body-container .dashboard-container .row-container2 .column-container1 .r2 .c1 {
    font-size: 20px;
    font-weight: bold;
}

.body-container .dashboard-container .row-container2 .column-container2 .r1 {
    font-size: 20px;
    font-weight: bold;
}

.body-container .dashboard-container .row-container3 {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;
}

.body-container .dashboard-container .row-container3 .column-container1 {
    width: 50%;
}

.body-container .dashboard-container .row-container3 .column-container1 .r1 {
    background-color: #f3f3f3;
    padding: 10px;
    margin-right: 5px;
}

.body-container .dashboard-container .row-container3 .column-container2 {
    width: 50%;
    background-color: #f3f3f3;
    padding: 10px;
    margin-left: 5px;
}

.body-container .dashboard-container .row-container3 .column-container1 .r1 .c1, .body-container .dashboard-container .row-container3 .column-container1 .r2 .c1 {
    font-size: 20px;
    font-weight: bold;
}

.body-container .dashboard-container .row-container3 .column-container2 .r1 {
    font-size: 20px;
    font-weight: bold;
}














/*-------------------- Master Container -----------------------*/

.body-container .master-content {
    width: 100%;
    background-color:  #f3f3f3;
    padding: 10px;
}

.body-container .master-content .form-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', sans-serif;
}

.body-container .master-content .form-container .text-line-type1 {
    width: 100%;
    margin: 5px 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
}

.body-container .master-content .form-container .line-type2-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.body-container .master-content .form-container .line-type2-content {
    width: 48%;
}

.body-container .master-content .form-container .text-line-type2 {
    width: 100%;
    margin: 5px 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
}

.body-container .master-content .form-container .line-type3-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.body-container .master-content .form-container .line-type3-left-content {
    width: 23%;
}

.body-container .master-content .form-container .line-type3-right-content {
    width: 73%;
}

.body-container .master-content .form-container .error-text {
    display: block;
    color: red;
    font-size: 12PX;
    margin-bottom: 10PX;
}

.body-container .master-content .form-container .button-container{
    margin-top: 20px;
    margin-bottom: 40px;
}

.body-container .master-content .form-container .submit-button {
    width: 150px;
    background-color: #260261;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #260261;
    transition: 0.5s ease-in;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .body-container .master-content .form-container .reset-button {
    width: 150px;
    background-color: transparent;
    color: #260261;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #260261;
    transition: 0.5s ease-in;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
}

.body-container .master-content .form-container .submit-button:hover {
    background-color: #dc143c;
    border: 2px solid #dc143c;
}
  
.body-container .master-content .form-container .reset-button:hover {
    color: #dc143c;
    border: 2px solid #dc143c;
}

/*-------------------- List Container -----------------------*/

.list-container {
    width: 100%;
    padding: 10px;
}

.body-container .list-content {
    width: 100%;
    background-color:  #f3f3f3;
    padding: 10px;
    margin-bottom: 10px;
}

.body-container .list-content-top {
    width: 100%;
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

.body-container .list-content-top .button-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.body-container .list-content-top .button-container button {
    height: 32px;
    padding: 2px 15px;
    display: flex;
    align-items: center;
    border: 0;
    background-color: #006E51;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.body-container .list-content-top .button-container button:hover {
    background-color: #024634;
}

.body-container .list-content-top .button-container img {
    width: 16px;
    height: 16px;
}

.body-container .list-content-top .button-container span {
    margin-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.body-container .list-content-top .search-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.body-container .list-content-top .search-container form {
    display: flex;
    align-items: center;
}

.body-container .list-content-top .search-container input {
    height: 32px;
    width: 300px;
    border: 1px solid #dc143c;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px 5px;
    border-right: 0;
    border-radius: 3px 0px 0px 3px;
    margin: 5px 0px;
}

.body-container .list-content-top .search-container button {
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    background-color: #dc143c;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 0px 3px 3px 0px;
}

.body-container .list-content-top .search-container button:hover  {
    background-color: #6C244C;
}

.body-container .list-content-top .search-container button img {
    height: 20px;
    width: 20px;
}

.body-container .list-content .features-panel {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.body-container .list-content .features-panel-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.body-container .list-content .features-panel-item .text-container {
    flex: 1;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}
  
.body-container .list-content .features-panel-item .button-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.body-container .list-content .features-panel button, .body-container .list-content .features-panel-item  button {
    background-color: transparent;
    border: 0px; 
}

.body-container .list-content .features-panel img, .body-container .list-content .features-panel-item img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.body-container .list-content .features-panel img:hover, .body-container .list-content .features-panel-item img:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.body-container .list-content .table-container {
    overflow-y: auto;
}

.body-container .list-content .table-container table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor: default;
}

.body-container .list-content .table-container table .action-column {
    width: 32px;
}

.body-container .list-content .table-container table button {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.body-container .list-content .table-container table img {
    width: 20px;
    height: 20px;
}
  
.body-container .list-content .table-container th {
    border: 1px solid #045F5F;
    padding: 12px 4px;
    font-size: 11px;
    text-align: center;
    background-color: #045F5F;
    color: white;
    text-transform: uppercase;
}

.body-container .list-content .table-container th .th-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container .list-content .table-container th .th-container img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
}
  
.body-container .list-content .table-container td {
    border: 1px solid lightgrey;
    padding: 6px 4px;
    font-size: 11px;
    text-align: center;
}
  
.body-container .list-content .table-container tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.body-container .list-content .table-container tr:nth-child(odd){
    background-color: gainsboro;
}

.body-container .list-content .table-container .Statusbutton-container {
    display: flex;
    justify-content: center;
}

.body-container .list-content .table-container .title {
    width: 100px;
}

.body-container .list-content .table-container .mobile {
    width: 120px;
}

.body-container .list-content .table-container .status {
    width: 60px;
}

.body-container .list-content .table-container .Statusbutton-container  img{
    width: 15px;
    height: 15px;
}

.feature-modal {
    margin-bottom: 20px;
}

.feature-modal h3, .edit-model h3 {
    font-family: 'Merriweather', serif;
}

.feature-modal form {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.feature-modal .checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.feature-modal .checkbox-content {
    width: 250px;
    height: 32px;
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.feature-modal .checkbox-content input {
    height: 18px;
    width: 18px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-right: 10px;
}

.feature-modal .checkbox-content label {
    font-family: 'Ubuntu', sans-serif;
}

.feature-modal button {
    width: 250px;
    height: 32px;
    margin-top: 10px;
    background-color: #260261;
    border: 0;
    border-radius: 4px;
    color: #f3f3f3;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

.feature-modal button:hover {
    background-color: #dc143c;
}

.edit-model {
    max-height: 500px;
    overflow-y: auto;
    padding: 0px 5%;
}

.edit-model .form-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', sans-serif;
}

.edit-model .form-container h3 {
    text-align: left;
    font-size: 15px;
}

.edit-model .form-container .text-line-type1 {
    width: 100%;
    margin: 5px 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
}

.edit-model .form-container .line-type2-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.edit-model .form-container .line-type2-content {
    width: 48%;
}

.edit-model .form-container .text-line-type2 {
    width: 100%;
    margin: 5px 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
}

.edit-model .form-container .error-text {
    display: block;
    color: red;
    font-size: 12PX;
    margin-bottom: 10PX;
    text-align: left;
}

.edit-model .form-container .button-container{
    margin-top: 20px;
    margin-bottom: 40px;
}

.edit-model .form-container .submit-button {
    width: 150px;
    background-color: #260261;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #260261;
    transition: 0.5s ease-in;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .edit-model .form-container .reset-button {
    width: 150px;
    background-color: transparent;
    color: #260261;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #260261;
    transition: 0.5s ease-in;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
}

.edit-model .form-container .submit-button:hover {
    background-color: #dc143c;
    border: 2px solid #dc143c;
}

.edit-model .form-container .reset-button:hover {
    color: #dc143c;
    border: 2px solid #dc143c;
}

/*-------------------- Category List -----------------------*/

.list-addbutton-container{
    display: flex;
    justify-content: right;
}
.list-addbutton{
    width: 150px;
    font-size: medium;
    background-color: #4AEF3C;
    border-radius: 8px;
    color: white;
    border: none;
    margin: 30px;
    cursor: pointer;
}
.list-addbutton:hover{
    opacity: 80%;
}



.categorylist-deletebutton{
    background-color: rgb(248, 55, 55);
    color:red;
    font-size: medium;
    border:none;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
}

.categorylist-updatebutton-container{
   margin-left: -50px; 
   margin-bottom: -7px;
   display: flex;
   justify-content: center;
}
.categorylist-Deletebutton-container{
    margin-right: -100px; 
    margin-top: -28px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
 }

.categoryMaster-buttons-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 40vh;
    margin-right: 30px;
}

.categoryMaster-save-button{
    background-color: #4AEF3C;
    width: 150px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
}

.categoryMaster-save-button:hover{
    opacity: 80% ;
}

.categoryMaster-cancel-button{
    background-color: #DC143C;
    color: white;
    width:150px;
    font-size: medium;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.categoryMaster-cancel-button:hover{
    opacity: 80%;
}

.categoryMaster-input-container{
    margin-top: 25vh;
    display: flex;
    justify-content: center;
}

.categoryMaster-label{
    margin-right: 30px;
    font-size: large;
    margin-top: 12px;
}

.categoryMaster-input{
    width: 300px;
    height: 50px;
    font-size: large;  
    text-align: center;
}

/*-------------------- Good Recieved Note -----------------------*/

.grn-container {
    width: 100%;
    padding: 10px;
}

.grn-container .grn-content {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 5px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.grn-container .grn-content .content1-left, .grn-container .grn-content .content1-right {
    width: 50%;
}

.grn-container .grn-content .content1-container {
    width: 100%;
    display: flex;
}

.grn-container .grn-content .content1-container .content-left {
    width: 200px;
    height: 40px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-size: 14px;
}

.grn-container .grn-content .content1-container .content-right {
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
}

.grn-container .grn-content .content1-container .content-left input, .grn-container .grn-content .content1-container .content-right input {
    outline: 0;
    width: 300px;
    height: 32px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px 5px;
    border: 1px solid darkgray;
    font-size: 14px;
}

.grn-container .grn-content .content1-container .content-right .select-box {
    width: 300px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    border: 1px solid darkgray;
}

.grn-container .grn-content .content1-container button {
    width: 40px;
    height: 32px;
    border: 0;
    background-color: #260261;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.grn-container .grn-content .content1-container button:hover {
    background-color: #db143c;
}

.grn-container .grn-content table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor: default;
}
  
.grn-container .grn-content table th {
    border: 1px solid #045F5F;
    padding: 12px 4px;
    font-size: 11px;
    text-align: center;
    background-color: #045F5F;
    color: white;
    text-transform: uppercase;
}
  
.grn-container .grn-content table td {
    border: 1px solid lightgrey;
    padding: 6px 4px;
    font-size: 11px;
    text-align: center;
}
  
.grn-container .grn-content table tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.grn-container .grn-content table tr:nth-child(odd){
    background-color: gainsboro;
}

.grn-container .grn-content table .id {
    width: 60px;
}

.grn-container .grn-content table .action {
    width: 32px;
}

.grn-container .grn-content table .price {
    width: 200px;
    text-align: left;
    padding-left: 20px;
}


.grn-container .grn-content table button {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.grn-container .grn-content table img {
    width: 20px;
    height: 20px;
}

.grn-container .grn-content .button-container button {
    width: 150px;
    height: 28px;
    margin-left: 10px;
    border: 0;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.grn-container .grn-content .button-container button:hover {
    opacity: 0.8;
}

.grn-container .grn-content .value-container {
    margin-right: 32px;
}

.grn-container .grn-content .value-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

.grn-container .grn-content .value-container span {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    margin-right: 32px;
}

.grn-container .grn-content .value-container input {
    width: 200px;
    height: 28px;
    font-size: 14px;
}

@media only screen and (max-width: 940px) {

    .body-container .dashboard-container .row-container1 .box {
        width: 150px;
        padding: 10px;
    }
    
    .body-container .dashboard-container .row-container1 .box .r1 {
        font-size: 14px;
        margin-bottom: 8px;
    }
    
    .body-container .dashboard-container .row-container1 .box .r2, .r3 {
        height: 24px;
    }

    .body-container .dashboard-container .row-container1 .box .r2 img {
        height: 18px;
        width: 18px;
    }
    
    .body-container .dashboard-container .row-container1 .box .r2 .c2 {
        font-size: 14px;
    }
    
    .body-container .dashboard-container .row-container1 .box .r3 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1300px), (max-height: 600px) {

    .login-container .form-container form {
        width: 360px;
    }

    .login-container .form-container h3 {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .login-container .form-container form label {
        font-size: 10px;
    }
    
    .login-container .form-container form input {
        height: 36px;
        margin-top: 8px;
        margin-bottom: 14px;
    }
    
    .login-container .form-container form button {
        height: 36px;
        margin-top: 32px;
        font-size: 15px;
    }
    
    .login-container .form-container form {
        width: 360px;
    }

    .login-container .form-container h3 {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .login-container .form-container form label {
        font-size: 15px;
    }
    
    .login-container .form-container form input {
        height: 36px;
        margin-top: 8px;
        margin-bottom: 14px;
    }
    
    .login-container .form-container form button {
        height: 36px;
        margin-top: 32px;
        font-size: 15px;
    }
    
    .sidepanel-container img {
        width: 20px;
        height: 20px;
    }
    
    .sidepanel-container .body {
        padding: 20px 5px;
    }
    
    .sidepanel-container .body button {
        width: 36px;
        height: 36px;
        margin: 8px 0px;
    }
    
    .sidepanel-container .expanded .body button {
        width: 140px;
        margin: 6px 0px;
        padding: 5px 5px;
    }

    .sidepanel-container .expanded .body span {
        width: 80px;
        margin-left: 10px;
        font-size: 12px;
    }

    .sidepanel-container .expanded .body .subCategory img {
        width: 10px;
        height: 10px;
    }
    
    .header-container {
        height: 40px;
        padding: 0px 12px;
        font-size: 12px;
    }
      
    .header-container .header img {
        width: 20px;
        height: 20px;
    }
    
    .header-container .header .left img {
        margin-right: 5px;
    }
      
    .header-container .header .middle {
        font-size: 14px;
    }

    .header-container .header .right img {
        margin-left: 5px;
    }

    .body-container .dashboard-container .row-container1 .box {
        width: 200px;
        padding: 10px;
        margin: 0px 5px;
    }
    
    .body-container .dashboard-container .row-container1 .box .r1 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .body-container .dashboard-container .row-container1 .box .r2, .r3 {
        height: 26px;
    }

    .body-container .dashboard-container .row-container1 .box .r2 img {
        height: 20px;
        width: 20px;
    }
    
    .body-container .dashboard-container .row-container1 .box .r2 .c2 {
        font-size: 16px;
    }
    
    .body-container .dashboard-container .row-container1 .box .r3 {
        font-size: 14px;
    }
    
    .body-container .master-content .search-container input {
        height: 28px;
        width: 220px;
    }
    
    .body-container .master-content .search-container button {
        height: 28px;
        width: 28px;
    }

    .body-container .master-content .search-container button img {
        height: 16px;
        width: 16px;
    }

    .body-container .master-content .features-panel {
        margin-bottom: 8px;
    }
    
    .body-container .master-content .features-panel img {
        width: 20px;
        height: 20px;
    }
    
    .body-container .master-content .features-panel img:hover {
        transform: scale(1.1);
    }
    
    .body-container .master-content .table-container table .action-column {
        width: 28px;
    }
    
    .body-container .master-content .table-container table button {
        width: 25px;
        height: 25px;
    }
    
    .body-container .master-content .table-container table img {
        width: 16px;
        height: 16px;
    }
      
    .body-container .master-content .table-container th {
        padding: 8px 4px;
        font-size: 10px;
    }
      
    .body-container .master-content .table-container td {
        padding: 5px 3px;
        font-size: 10px;
    }
    
    .grn-container {
        padding: 5px;
    }

    .grn-container .grn-content {
        margin-bottom: 5px;
        padding: 6px 4px;
    }

    .grn-container .grn-content .content1-container .content-left {
        width: 120px;
        height: 32px;
        padding: 0px 6px;
        font-size: 12px;
    }

    .grn-container .grn-content .content1-container .content-right {
        height: 32px;
    }

    .grn-container .grn-content .content1-container .content-left input, .grn-container .grn-content .content1-container .content-right input {
        width: 220px;
        height: 26px;
        padding: 0px 2px;
        font-size: 12px;
    }

    .grn-container .grn-content .content1-container .content-right .select-box {
        width: 220px;
        font-size: 12px;
    }

    .grn-container .grn-content .content1-container button {
        width: 40px;
        height: 26px;
        border: 0;
        font-size: 10px;
    }

    .grn-container .grn-content table th {
        padding: 8px 4px;
        font-size: 10px;
    }
    
    .grn-container .grn-content table td {
        padding: 4px 4px;
        font-size: 10px;
    }

    .grn-container .grn-content table .id {
        width: 40px;
    }

    .grn-container .grn-content table .price {
        width: 120px;
        padding-left: 15px;
        background: #14A44D;
    }
    
    .grn-container .grn-content table .quantity{
        width: 60px;
        padding-right: 15px;
        text-align: right;
    }

    .grn-container .grn-content table button {
        width: 25px;
        height: 25px;
    }

    .grn-container .grn-content table img {
        width: 16px;
        height: 16px;
    }

    .grn-container .grn-content .button-container button {
        width: 120px;
        height: 24px;
        margin-left: 8px;
        font-size: 10px;
    }

    .grn-container .grn-content .value-container span {
        font-size: 12px;
    }

    .grn-container .grn-content .value-container input {
        width: 180px;
        height: 26px;
        font-size: 12px;
    }


}

@media only screen and (max-width: 890px) {

    .login-container .form-container {
        width: 100%;
        background-color: rgb(38, 2, 97, 0.5);
    }
}

@media only screen and (max-height: 400px), (max-width: 500px) {

    .login-container .form-container {
        width: 100%;
        background-color: rgb(38, 2, 97, 0.5);
    }

    .login-container .form-container form {
        width: 250px;
    }

    .login-container .form-container h3 {
        margin-bottom: 24px;
    }

    .login-container .form-container form label {
        font-size: 10px;
    }

    .login-container .form-container form input {
        height: 28px;
        margin-top: 6px;
        margin-bottom: 10px;
    }

    .login-container .form-container form button {
        width: 100%;
        height: 28px;
        margin-top: 24px;
    }

}

.grn-container .grn-content table .price {
    width: 120px;
    padding-left: 15px;
    background: #14A44D;
}

.grn-container .grn-content table .quantity{
    width: 60px;
    padding-right: 15px;
    text-align: right;
}

.invoice-Filter{
  height: 25px;
   
}
